{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "node": "current"
          }
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "import",
      {
        "libraryName": "antd"
        // "style": true // importing styles in `main.scss`
      }
    ]
  ]
}