// Probably better to import individual component styles, but getting errors when
// using the babel-import plugin
@import '~antd/dist/antd.css';

body,html {
  margin: 0;
  padding: 0;
  background-color: #f6f9fc;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.form {
  max-width: 600px;
}

@import 'helpers.scss'