.product-card {
  padding: 1em;
  font-size: 12px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  min-width: 100px;
  max-width: 200px;
  display: flex;
  flex-flow: column nowrap;
}