.introduction {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
}

.portrait {
  margin: 1rem 3% 1rem 1rem;
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50% 50%;
  background-color: white;

  & .cmyk-image {
    width: 300px;
    position: absolute;
    border-radius: 50% 50%;
    mix-blend-mode: multiply;
    transition: transform 0.3s;

    @for $index from 0 through 3 {
      &.cmyk--#{$index} {
        animation: (move + $index) 5s ease-in-out $index*1s infinite alternate-reverse;
      }
    }
  }

  &:hover .cmyk-image {
    animation-play-state: paused;
  }
}

@keyframes move0 {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(random(20) + px);
  }

  66% {
    transform: translateX(random(5) + px);
  }

  75% {
    transform: translateX(random(20) + px);
  }
}

@keyframes move1 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(random(20) * -1px);
  }

  50% {
    transform: translateX(random(5) + px);
  }

  75% {
    transform: translateX(random(20) * -1px);
  }
}

@keyframes move2 {
  0% {
    transform: translateX(0);
  }

  33% {
    transform: translateX(random(20) + px);
  }

  50% {
    transform: translateX(random(5) + px);
  }

  66% {
    transform: translateX(random(20) + px);
  }
}

@keyframes move3 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(random(20) * -1px);
  }

  50% {
    transform: translateX(random(5) + px);
  }

  66% {
    transform: translateX(random(20) * -1px);
  }
}